body {
	color: #333 !important;
}

header {
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	min-height: 125px;
	align-content: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9;
}

.menu-li li {
	min-width: 120px;
	min-height: 45px;
	border-radius: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
	font-weight: 600;
	margin-right: 15px;
	border: 1px solid #fff;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.menu-li li:nth-child(1) {
	background-color: #14BCF3;
}

.menu-li li:nth-child(2) {
	background-color: #FF9800;
}

.menu-li li:nth-child(3) {
	background-color: #FF07A7;
}

.menu-li li:nth-child(4) {
	background-color: #9D1D96;
}

.menu-li li:nth-child(5) {
	background-color: #E61A1A;
}

.menu-li li:nth-child(6) {
	background-color: #A5F701;
}

.menu-li li:nth-child(7) {
	background-color: #F7E501;
}

.menu-li li:nth-child(8) {
	background-color: #009515;
}

.button {
	background-color: #3498db;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.button:active {
	animation: vibrar 0.2s linear 2;
}

.body-site {
	padding-top: 160px;
}

h1 {
	font-size: 45px !important;
	font-weight: 700 !important;
}

@keyframes vibrar {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-3px);
	}

	50% {
		transform: translateX(3px);
	}

	75% {
		transform: translateX(-3px);
	}

	100% {
		transform: translateX(0);
	}
}

.btquiz {
	position: fixed;
	bottom: 0;
	background: red;
	right: 0;
	height: 50px;
	width: 80px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	border: solid 2px white;
	font-size: 18px;
	font-weight: 600;
}

div#opcoes button {
	border-radius: 10px;
	border: solid 4px orange;
	background-color: #99ff65;
}